:root {
  --light-violet: rgba(238, 130, 238, 0.25);
  --accessible-deep-pink: #e5007c;
}

* {
  accent-color: darkviolet;
}

*:focus {
  outline: 2px solid violet;
}

*::selection {
  background-color: var(--light-violet);
}

body {
  font-family: sans-serif;
  max-width: 840px;
  min-width: 420px;
}

[inert] > * {
  opacity: 0.25;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

a {
  text-decoration: none;
  border-bottom: 2px solid var(--links);
}

a:hover {
  text-decoration: none;
}
