/*
 Styles for the Settings screen.
*/
#application {
  display: grid;
  grid-template-areas:
    'navigation  main  '
    'footer      footer';
  grid-template-rows: 1fr fit-content(100%);
  grid-template-columns: fit-content(100%) 1fr;
}

/* On narrower screens, use one-column layout. */
@media screen and (max-width: 660px) {
  #application {
    grid-template-areas:
      'navigation'
      'main'
      'footer';
  }
}
