.Navigation {
  grid-area: navigation;
  margin-top: 1.5rem;
}

.Navigation header {
  margin: 0;
}

.Navigation header .domainLogo {
  display: block;
  width: 80%;
  max-width: 300px;
}

/* Hide skip to main content link. */
/* As recommended by https://webaim.org/techniques/css/invisiblecontent/#skipnavlinks */
.Navigation #skip {
  text-align:center;
  margin: 1.25em 1em 1.25em 0; 
}

.Navigation #skip a
{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  display: block;
  margin: 0 1rem;
  background-color: darkviolet;
  color: white;
  text-decoration: none;
  padding: 0.25em;
  border-radius: 0.5em;
}

.Navigation #skip a:focus
{
  position:inherit;
  width:auto;
  height:auto;
}

.Navigation li h1 {
  font-size: 2.5em;
  font-weight: 100;
  margin-top: -0.25em;
  margin-bottom: 0.5em;
}

.Navigation ul {
  list-style-type: none;
  padding: 0 1rem;
  margin: 0;
}

.Navigation .sub-nav li {
  border-top: 1px dotted var(--border);
}

.Navigation .sub-nav li:last-of-type {
  border-bottom: 1px dotted var(--border);
}

.Navigation .sub-nav a {
  display: block;
  line-height: 2em;
  padding: 0.5em;
  text-decoration: none;
  color: var(--text-main);
  border: 0;
}

.Navigation aside {
  margin-top: -1.25em;
  margin-bottom: 0.25em;
  padding: 1em;
  margin-right: -1em;
}

.Navigation aside p {
  color: var(--accessible-deep-pink);
  max-width: 32ch;
  margin-top: 0;
  margin-bottom: 1em;
}

.Navigation aside p:first-of-type {
  margin-top: 0;
}

.Navigation aside p:last-of-type {
  margin-bottom: 0;
}

.Navigation aside h3 {
  margin-top: 0;
}

.Navigation section p .icon {
  width: 1.25em;
  vertical-align: middle;
}

.Navigation a.icon {
  display: grid !important;
  grid-template-columns: fit-content(2em) 100%;
  column-gap: 1em;
}

.Navigation a.active {
  color: white;
  background-color: var(--accessible-deep-pink);
  pointer-events: none;
}

.Navigation svg.icon, .Navgiation img.icon {
  width: 2em;
}

/* On the narrower screens, one-column layout, remove aside character limit */
@media screen and (max-width: 660px) {
  .Navigation aside p {
    max-width: 100%;
  }
}
