main {
  grid-area: main;
  padding-left: 1.75em;

  /* Make dashed separator end before the top of the window */
  margin-top: 1rem;
}

main h2:first-of-type {
  margin-top: 1.5rem;
}

main h2, main h3 {
  margin-bottom: 0.5em;
}

main h2 {
  font-size: 3em;
  line-height: 1;
}

main h3 {
  font-size: 2em;
}

main h4 {
  font-size: 1.5em;
}

main li {
  margin-bottom: 1em;
  margin-left: -2.5em;
}

blockquote {
  margin-left: 0;
  border-left: 6px solid darkviolet;
  padding-left: 1.5em;
}

blockquote p:first-of-type {
  margin-top: 0;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

/* Organisation form: simple one-column layout with labels above inputs. */
form {
  margin-top: 2em;
  padding-right: 2em;
}

form label, form input, form button, form select, form textarea {
  font-size: 1.25em;
  display: block;
}

form label {
  font-weight: 600;
}

form input, form select, form textarea {
  margin: 0.5em 0 1.5em 0;
  width: 100%;
  padding: 0.25em;
}

/* Note: there is currently no way to actually set the colour of a selected item in a select box. */
option:checked, option:hover, option:active, option:focus {
  background: linear-gradient(var(--light-violet), var(--light-violet)) !important;
}

/*
form button:hover {
  background-color: dark-purple;
  color:white;
}

form button:active {
  background-color: violet;
  color: white;
}
*/

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 2px solid var(--border);
  padding: 0.5em 0.5em;
  font-size: 1.25em;
}

td {
  padding: 0.5em 0.5em;
}

tr:nth-of-type(2n) td {
  background-color: var(--border);
}

form textarea {
  height: auto;
}

.action {
  margin-right: 0.5em;
}

.correct, .incorrect, .information {
  padding: 0.25em;
  margin-left: -1em;
  text-align: center;
}
.correct, .correct a { color: white; background: #009c48;  font-weight: bold; }
.incorrect, .incorrect a { color: white; background: #e50009; font-weight: bold; }
.information, .information a { color: white; background: #0090c1; font-weight: bold; }
.correct::before { content: '✓ '; }
.incorrect::before { content: '🗙 '; }
.information::before { content: '🛈  '; }
