/*
  TODO: Are the styles below this line still necessary?
  If so, is this the best place for them?
*/

#domain {
  margin-bottom: 0.25em;
}

#progress-indicator {
  color: darkviolet;
}

.htmx-indicator {
  opacity: 0;
}

#progress-indicator svg {
  margin: auto;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
}
