.RegistrationForm #subdomain {
  margin-bottom: 0;
}

.RegistrationForm #source-detail {
  margin-top: -1em;
  margin-bottom: 2em;
}

.RegistrationForm .labelDetails {
  font-weight: 400;
  font-style: italic;
}
