/*
  Pre-warmed domains page styles.
*/
form[name=updatePreWarmedDomains] {
  margin-top: 1em;
}

input[name=numberOfRequestedPreWarmedDomains] {
  max-width: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  margin-bottom: 0;
  margin-left: 0.25em;
  padding-left: 1ch;
  padding-right: 1ch;
}

#compactControl {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

[inert] {
  color: var(--text);
  border-bottom-color: var(--text);
  opacity: 0.25;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

